In [12]:
import yfinance as yf
import pandas as pd
import datetime

In [17]:
symbol = ["0005.HK","9988.HK","0066.HK","1398.HK","3988.HK","0981.HK","1810.HK","0016.HK","1113.HK","0700.HK"]
for i in symbol:
    df = yf.Ticker(i).history(start="2008-02-01", end="2025-09-13", interval='1wk')
    df.to_csv(i+'.csv')

In [15]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2008-01-28 00:00:00+08:00,54.509907,55.067552,53.905789,54.928139,26800010,0.000000,0.0
2008-02-04 00:00:00+08:00,55.904019,56.601076,52.511671,52.976376,70366434,0.000000,0.0
2008-02-11 00:00:00+08:00,52.279304,54.463415,50.652836,53.208714,143883187,0.000000,0.0
2008-02-18 00:00:00+08:00,53.208732,53.719906,52.139908,53.348145,93762952,0.000000,0.0
2008-02-25 00:00:00+08:00,54.370483,57.762830,53.905778,56.089890,163811166,0.000000,0.0
...,...,...,...,...,...,...,...
2025-08-11 00:00:00+08:00,98.902465,102.199217,98.902465,100.201187,76978745,0.777771,0.0
2025-08-18 00:00:00+08:00,99.849998,101.400002,98.449997,101.300003,72937215,0.000000,0.0
2025-08-25 00:00:00+08:00,101.800003,102.099998,99.400002,99.750000,72285389,0.000000,0.0
2025-09-01 00:00:00+08:00,99.750000,102.099998,98.750000,102.099998,79698577,0.000000,0.0
2025-09-08 00:00:00+08:00,101.900002,106.900002,100.900002,106.300003,92620970,0.000000,0.0